@font-face {
  font-family: flama;
  src: url(../fonts/FlamaCondensed-Medium.eot) format("eot"), url(../fonts/FlamaCondensed-Medium.woff) format("woff"); }
body {
  position: relative;
  background: #89d0e9;
  background: -moz-linear-gradient(left, #89d0e9 0%, #89d0e9 50%, #130a46 50%, #130a46 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #89d0e9), color-stop(50%, #89d0e9), color-stop(50%, #130a46), color-stop(100%, #130a46));
  background: -webkit-linear-gradient(left, #89d0e9 0%, #89d0e9 50%, #130a46 50%, #130a46 100%);
  background: -o-linear-gradient(left, #89d0e9 0%, #89d0e9 50%, #130a46 50%, #130a46 100%);
  background: -ms-linear-gradient(left, #89d0e9 0%, #89d0e9 50%, #130a46 50%, #130a46 100%);
  background: linear-gradient(to right, #89d0e9 0%, #89d0e9 50%, #130a46 50%, #130a46 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89d0e9', endColorstr='#130a46', GradientType=1 ); }
@media(max-width: 768px) {
  body {
    background: transparent; } }
h1 {
  font-size: 42px;
  font-family: "flama";
  text-align: center;
  text-transform: uppercase;
  color: #89d0e9;
  margin-bottom: 36px;
  letter-spacing: 0.075em; }

h2 {
  font-size: 32px;
  font-family: "Miller Text";
  text-align: center;
  color: white;
  margin-bottom: 60px;
  padding: 0 74px; }
@media(max-width: 768px) {
  h2 {
    font-size: 26px;
    padding: 0 12px;
    margin-bottom: 12px; } }
h3 {
  font-size: 12px;
  font-family: "flama";
  color: #89d0e9;
  margin-bottom: -6px;
  letter-spacing: 0.075em; }

a {
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.075em;
  font-family: "flama";
  color: #89d0e9;
  transition: all 0.2s; }
  a:hover {
    text-decoration: none;
    color: white;
    transition: all 0.2s; }

.container {
  max-width: 1440px; }

.hero {
  background-color: #89d0e9;
  height: 100vh; }
@media(max-width: 768px) {
  .hero {
    height: auto; } }
  .hero .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
@media(max-width: 768px) {
  .hero .centered {
    top: 0;
    transform: translateY(0); } }
    .hero .centered img {
      width: 100%;
      padding: 0 36px;
      display: block;
      margin: 0 auto;
      max-width: 580px;
      vertical-align: middle; }
@media(max-width: 768px) {
  .hero .centered img {
    padding: 48px 0; } }
.copy {
  background-color: #130a46;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 24px; }
@media(max-width: 768px) {
  .copy {
    height: auto; } }
  .copy .centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
@media(max-width: 768px) {
  .copy .centered {
    top: 0;
    transform: translateY(0); } }
    .copy .centered img {
      margin-bottom: 94px; }
@media(max-width: 768px) {
  .copy .centered img {
    margin: 48px auto; } }
      .copy .centered img.building {
        margin-bottom: 60px;
        max-width: 156px;
        width: 100%; }
@media(max-width: 768px) {
  .copy .centered img.building {
    margin-bottom: 48px; } }
.mail {
  position: absolute;
  background-color: #f15753;
  top: 0;
  right: 0;
  width: 42px;
  height: 42px; }
  .mail img {
    width: 100%;
    padding: 8px; }
@media(max-width: 768px) {
  .mail {
    position: fixed; } }

/*# sourceMappingURL=_kent.scss.map */
