$serif: "Miller Text"
$condensed: "flama"

@font-face
	font-family: flama
	src: url(../fonts/FlamaCondensed-Medium.eot) format('eot'), url(../fonts/FlamaCondensed-Medium.woff) format('woff') 

body
	position: relative
	background: rgba(137,208,233,1)
	background: -moz-linear-gradient(left, rgba(137,208,233,1) 0%, rgba(137,208,233,1) 50%, rgba(19,10,70,1) 50%, rgba(19,10,70,1) 100%)
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(137,208,233,1)), color-stop(50%, rgba(137,208,233,1)), color-stop(50%, rgba(19,10,70,1)), color-stop(100%, rgba(19,10,70,1)))
	background: -webkit-linear-gradient(left, rgba(137,208,233,1) 0%, rgba(137,208,233,1) 50%, rgba(19,10,70,1) 50%, rgba(19,10,70,1) 100%)
	background: -o-linear-gradient(left, rgba(137,208,233,1) 0%, rgba(137,208,233,1) 50%, rgba(19,10,70,1) 50%, rgba(19,10,70,1) 100%)
	background: -ms-linear-gradient(left, rgba(137,208,233,1) 0%, rgba(137,208,233,1) 50%, rgba(19,10,70,1) 50%, rgba(19,10,70,1) 100%)
	background: linear-gradient(to right, rgba(137,208,233,1) 0%, rgba(137,208,233,1) 50%, rgba(19,10,70,1) 50%, rgba(19,10,70,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89d0e9', endColorstr='#130a46', GradientType=1 )
	@media(max-width: 768px)
		background: transparent

h1
	font-size: 42px
	font-family: $condensed
	text-align: center
	text-transform: uppercase
	color: #89d0e9
	margin-bottom: 36px
	letter-spacing: 0.075em

h2
	font-size: 32px
	font-family: $serif
	text-align: center
	color: white
	margin-bottom: 60px
	padding: 0 74px
	@media(max-width: 768px)
		font-size: 26px
		padding: 0 12px
		margin-bottom: 12px

h3
	font-size: 12px
	font-family: $condensed
	color: #89d0e9
	margin-bottom: -6px
	letter-spacing: 0.075em

a
	text-decoration: none
	font-size: 12px
	letter-spacing: 0.075em
	font-family: $condensed
	color: #89d0e9
	transition: all 0.2s
	&:hover
		text-decoration: none
		color: white
		transition: all 0.2s

.container
	max-width: 1440px

.hero
	background-color: #89d0e9
	height: 100vh
	@media(max-width: 768px)
		height: auto
	.centered
		position: relative
		top: 50%
		transform: translateY(-50%)
		@media(max-width: 768px)
			top: 0
			transform: translateY(0)
		img
			width: 100%
			padding: 0 36px
			display: block
			margin: 0 auto
			max-width: 580px
			vertical-align: middle
			@media(max-width: 768px)
				padding: 48px 0

.copy
	background-color: #130a46
	height: 100vh
	text-align: center
	vertical-align: middle
	padding-bottom: 24px
	@media(max-width: 768px)
		height: auto
	.centered
		position: relative
		top: 50%
		transform: translateY(-50%)
		@media(max-width: 768px)
			top: 0
			transform: translateY(0)
		img
			margin-bottom: 94px
			@media(max-width: 768px)
				margin: 48px auto
			&.building
				margin-bottom: 60px
				max-width: 156px
				width: 100%
				@media(max-width: 768px)
					margin-bottom: 48px

.mail
	position: absolute
	background-color: #f15753
	top: 0
	right: 0
	width: 42px
	height: 42px
	img
		width: 100%
		padding: 8px
	@media(max-width: 768px)
		position: fixed
